- if favorites.find_by(post_id: post.id).present?
  = link_to 'お気に入り解除', favorite_path(id: favorites.find_by(post_id: post.id).id, post_id: post.id), method: :delete, remote: true, id: "js-like-btn-#{post.id}"
- else
  = link_to 'お気に入り', favorites_path(post_id: post.id), method: :post, remote: true, id: "js-like-btn-#{post.id}"
