// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_contents {
  justify-content: center;
}

.follow-link {
  .follower_path {
    border-right: 1px solid #e8cece;
    padding-right: 10px;
  }
  .following_path {
    padding-left: 10px;
  }
}

.fa-comments {
  padding-left: 10px;
}

.friend {
  margin-bottom: 10px;
}
